.symbol
{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    padding: 0 0.075em;
    background-repeat: no-repeat;
    color: transparent !important;
    font-size: 0.75em;
    vertical-align: middle;
}