.grid my-entry
{
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-columns: 1fr;
    padding: 0.25em;
    gap: 0.25em;
    border-radius: 0.25em;
    background-color: var(--page-background-color);

    > .image
    {
        grid-row: 1;
    }

    &:hover > .move-actions
    {
        display: grid;
        z-index: 1000;
        position: absolute;
        grid-row: 1;
        margin-top: 0;
        margin-left: 0;
        padding: 0.25em;
        border-radius: 0.25em;
        background-color: var(--page-background-color);
    }

    > .quantity
    {
        grid-row: -1;
    }

    > .move-actions, > .name, > .type, > .mana, > .card-actions
    {
        display: none;
    }

    &.is-missing
    {
        background-color: var(--cancel-color);
    }

    &.selected
    {
        background-color: var(--accent-color);
    }

    &.drag-over
    {
        background-color: rgba(81, 221, 63);
    }
}