.grid my-entry
{
    grid-template-rows: max-content 1fr;
    grid-template-columns: 1fr;

    > .image
    {
        grid-row: 1;
    }

    &:hover > .move-actions
    {
        display: grid;
        z-index: 1000;
        position: absolute;
        grid-row: 1;
        grid-column: 1;
        padding: 0.25em;
        border-radius: 0.25em;
        background-color: var(--page-background-color);
    }

    > .quantity
    {
        grid-row: -1;
    }

    > .move-actions, > .name, > .type, > .mana, > .card-actions
    {
        display: none;
    }
}