.grid my-section
{
    > .list
    {
        display: flex;
        grid-row: 2;
        grid-column: 1 / -1;
        flex-flow: row;
        flex-wrap: wrap;
        padding-left: 1em;
        gap: 0.25em;
    }
}