.lines my-entry
{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: subgrid;
    grid-auto-flow: column;
    grid-column: 1 / -1;
    align-items: center;

    > .move-actions
    {
        grid-column: move;
    }

    > .quantity
    {
        grid-column: quantity;
    }

    > .name
    {
        grid-column: name;
        justify-self: start;
        min-width: 1em;
        min-height: 1em;
        padding: 0.25em;
    }

    > .type
    {
        grid-column: type;
        max-width: 100%;
        overflow: hidden;
    }

    > .mana
    {
        display: flex;
        grid-column: mana;
        justify-self: end;
        max-width: 100%;
        overflow: hidden;
    }

    > .card-actions
    {
        grid-column: actions;
    }

    > .image
    {
        display: none;
    }
}