.export-deck
{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "format"
        "text"
        "actions";
    overflow-x: hidden;
    overflow-y: auto;
    gap: 1em;
    border-radius: var(--corner-radius);

    > .format-select
    {
        grid-area: format;
        justify-self: start;
        min-width: 6em;
    }

    > .text-output
    {
        grid-area: text;
        min-width: 24em;
        height: max-content;
        min-height: 24em;
        padding: 0.25em;
        border: none;
        border-radius: var(--corner-radius);
        background-color: white;
        color: black;
        font-size: 1.125em;
        font-family: monospace;
    }

    > .actions
    {
        display: flex;
        grid-area: actions;
        align-items: center;
        justify-content: right;
        height: 2em;
        padding: 0.25em;
        gap: 0.25em;
        background-color: var(--background-color);
        font-size: 1.125em;
    }
}