.missing-cards
{
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: "table" "actions";
    padding-top: 0;
    padding-bottom: 0;

    > .table
    {
        position: relative;
        grid-area: table;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        border: none;
        border-collapse: collapse;

        tr:not(:first-child):not(:last-child):nth-child(odd)
        {
            background-color: rgba(255, 255, 255, 0.1);
        }

        th
        {
            z-index: 1000;
            position: sticky;
            top: 0;
            background-color: var(--background-color);
            font-weight: bold;
            font-size: 1.125em;

            > *
            {
                border-bottom: 1px white solid;
            }
        }

        tr:last-child
        {
            td
            {
                z-index: 1000;
                position: sticky;
                bottom: 0;
                background-color: var(--background-color);
                font-weight: bold;

                > *
                {
                    border-top: 1px white solid;
                    border-bottom: 3px white double;
                }
            }
        }

        span, a
        {
            display: flex;
            width: 100%;
            padding: 0.25em;
            text-align: left;

            &:last-child
            {
                text-align: end;
            }
        }
    }

    > .text-output
    {
        grid-area: table;
        min-width: 24em;
        height: max-content;
        min-height: 24em;
        padding: 0.25em;
        border: none;
        border-radius: var(--corner-radius);
        background-color: white;
        color: black;
        font-size: 1.125em;
        font-family: monospace;
    }

    > div
    {
        display: flex;
        position: sticky;
        bottom: 0;
        grid-area: actions;
        align-items: center;
        justify-content: right;
        height: 2em;
        padding: 0.25em;
        gap: 0.25em;
        background-color: var(--background-color);
        font-size: 1.125em;
    }
}