.missing-cards
{
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: "table" "actions";
    padding-top: 0;
    padding-bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;

    > .table
    {
        grid-area: table;
        width: 100%;
        height: max-content;
        border-collapse: collapse;

        tr:nth-child(odd)
        {
            background-color: rgba(255, 255, 255, 0.1);
            color: #fff;
        }

        th
        {
            font-size: 1.125em;
            text-align: left;
        }

        td
        {
            padding: 0.125em;

            &:last-child
            {
                text-align: end;
            }
        }

        thead
        {
            background: var(--background-color);
        }

        tfoot
        {
            z-index: initial;
            position: relative;

            td
            {
                border-top: 1px white solid;
                font-weight: bold;
            }
        }
    }

    > .text-output
    {
        grid-area: table;
        min-width: 24em;
        height: max-content;
        min-height: 24em;
        padding: 0.25em;
        border: none;
        border-radius: var(--corner-radius);
        background-color: white;
        color: black;
        font-size: 1.125em;
        font-family: monospace;
    }

    > div
    {
        display: flex;
        position: sticky;
        bottom: 0;
        grid-area: actions;
        align-items: center;
        justify-content: right;
        height: 2em;
        padding: 0.25em;
        gap: 0.25em;
        background-color: var(--background-color);
        font-size: 1.125em;
    }
}