my-large-edit-box:not(.disabled)
{
    cursor: pointer;

    > span
    {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre-line;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    > input
    {
        width: 100%;
    }

    &:hover
    {
        color: var(--highlight-color);

        &::after
        {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            aspect-ratio: 1;
            height: 1em;
            background: center / contain url("img/icons/edit.svg");
            content: "";
            filter: brightness(0) invert(1);
        }
    }
}